@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Ubuntu:400,500,700&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background: #e8edf5;
  width: 100%;
  height: 100%;
}

.wrapper .top_navbar{
  width: 100%;
  height: 65px;
  display: flex;
  position: fixed;
  top: 0;
}

.wrapper .top_navbar .logo{
  width: 250px;
  height: 100%;
  background: black;
  border-bottom: 1px solid #22119d;
}

.wrapper .top_navbar .logo a{
  display: block;
    text-align: center;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 30px;
    color: white;
    padding: 20px 0;
}

.wrapper .top_navbar .top_menu{
  width: calc(100% - 250px);
  height: 100%;
  background: #fff;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .top_navbar .top_menu .home_link a{
  display: block;
    background: black;
    color: #fff;
    padding: 8px 15px;
    border-radius: 3px;
}

.wrapper .top_navbar .top_menu .home_link a:hover,
.wrapper .top_navbar .right_info .icon_wrap:hover {
    background: #5343c7;
}

.wrapper .top_navbar .right_info{
  display: flex;
}

.wrapper .top_navbar .right_info .icon_wrap{
  padding: 8px 15px;
    border-radius: 3px;
  background: black;
    color: #fff;
    margin: 0 5px;
    cursor: pointer;
}

.main_body .sidebar_menu{
  position: fixed;
    top: 65px;
    left: 0;
    background: white;
    width: 250px;
    height: 100%;
    transition: all 0.3s linear;
}

.main_body .sidebar_menu .inner__sidebar_menu{
  position: relative;
  padding-top: 60px;
}

.main_body .sidebar_menu ul li a{
  color: black;
  font-size: 18px;
  padding: 20px 35px;
  display: block;
  white-space: nowrap;
}

.main_body .sidebar_menu ul li a .icon{
  margin-right: 8px;
}

.main_body .sidebar_menu ul li a span{
  display: inline-block;
}

.main_body .sidebar_menu ul li a:hover{
  background: #D9DDDC;
  color: #fff;
}

.main_body .sidebar_menu ul li a.active{
  background: #808588;
  color: black;
}

.main_body .sidebar_menu .hamburger{
  position: absolute;
  top: 5px;
  right: -25px;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.main_body .sidebar_menu .inner_hamburger,
.main_body .sidebar_menu .hamburger .arrow{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.main_body .sidebar_menu .inner_hamburger{
  width: 40px;
  border-radius: 50%;
  height: 40px;
  background: black;
}

.main_body .sidebar_menu .hamburger .arrow{
  color: #fff;
  font-size: 20px;
}

.main_body .sidebar_menu .hamburger  .fa-long-arrow-alt-right{
  display: none;
}

.main_body .container{
  width: calc(100% - 250px);
  margin-top: 65px;
  margin-left: 250px;
  padding: 25px 40px;
  transition: all 0.3s linear;
}

.main_body .container .item_wrap{
  display: flex;
  margin-bottom: 20px;
}

.main_body .container .item_wrap .item{
  background: #fff;
  border: 1px solid #e0e0e0;
  
  font-size: 14px;
  line-height: 22px;
  margin-left: 20px;
}

.main_body .container .item_wrap .item:first-child{
  margin-right: 20px;
}

/* after adding active class */
.wrapper.active .sidebar_menu{
  width: 100px;
}

.wrapper.active .hamburger .fa-long-arrow-alt-right{
  display: block;
}

.wrapper.active .hamburger .fa-long-arrow-alt-left{
  display: none;
}

.wrapper.active .sidebar_menu ul li a .list{
  display: none;
}

.wrapper.active .main_body .container{
  width: calc(100% - 100px);
  margin-left: 100px;
}
div.gallery {


  width: 1494px;
}

div.gallery:hover {

  
}

div.gallery img {
  width: 100%;
  height: auto;
}


div.gallery1 {
  margin: 5px;
  border: 2px solid black;
  object-fit: contain;
  width: 700px;
  height: 333px;


}

div.gallery1:hover {
  border: 2px solid black;
 
}

div.gallery1 img {
   -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
div.gallery2 {
  margin: 5px;
  border: 2px solid black;
  object-fit: contain;
  width: 300px;
  height: 300px;


}

div.gallery2:hover {
 -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

div.gallery2 img {
  width: 100%;
  height: auto;
}
div.desc1 {
  padding: 5px;
  padding-top: 2px;
  text-align: center;
  font-size: 10px;
  background-color: floralwhite;
  border: 1px solid;
}
h2{
  color: black;
}

.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover01 figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Ubuntu:400,500,700&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background: #e8edf5;
  width: 100%;
  height: 100%;
}

.wrapper .top_navbar{
  width: 100%;
  height: 65px;
  display: flex;
  position: fixed;
  top: 0;
}

.wrapper .top_navbar .logo{
  width: 250px;
  height: 100%;
  background: black;
  border-bottom: 1px solid #22119d;
}

.wrapper .top_navbar .logo a{
  display: block;
    text-align: center;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 30px;
    color: white;
    padding: 20px 0;
}

.wrapper .top_navbar .top_menu{
  width: calc(100% - 250px);
  height: 100%;
  background: #fff;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .top_navbar .top_menu .home_link a{
  display: block;
    background: black;
    color: #fff;
    padding: 8px 15px;
    border-radius: 3px;
}

.wrapper .top_navbar .top_menu .home_link a:hover,
.wrapper .top_navbar .right_info .icon_wrap:hover {
    background: #5343c7;
}

.wrapper .top_navbar .right_info{
  display: flex;
}

.wrapper .top_navbar .right_info .icon_wrap{
  padding: 8px 15px;
    border-radius: 3px;
  background: black;
    color: #fff;
    margin: 0 5px;
    cursor: pointer;
}

.main_body .sidebar_menu{
  position: fixed;
    top: 65px;
    left: 0;
    background: white;
    width: 250px;
    height: 100%;
    transition: all 0.3s linear;
}

.main_body .sidebar_menu .inner__sidebar_menu{
  position: relative;
  padding-top: 60px;
}

.main_body .sidebar_menu ul li a{
  color: black;
  font-size: 18px;
  padding: 20px 35px;
  display: block;
  white-space: nowrap;
}

.main_body .sidebar_menu ul li a .icon{
  margin-right: 8px;
}

.main_body .sidebar_menu ul li a span{
  display: inline-block;
}

.main_body .sidebar_menu ul li a:hover{
  background: #D9DDDC;
  color: #fff;
}

.main_body .sidebar_menu ul li a.active{
  background: #808588;
  color: black;
}

.main_body .sidebar_menu .hamburger{
  position: absolute;
  top: 5px;
  right: -25px;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.main_body .sidebar_menu .inner_hamburger,
.main_body .sidebar_menu .hamburger .arrow{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.main_body .sidebar_menu .inner_hamburger{
  width: 40px;
  border-radius: 50%;
  height: 40px;
  background: black;
}

.main_body .sidebar_menu .hamburger .arrow{
  color: #fff;
  font-size: 20px;
}

.main_body .sidebar_menu .hamburger  .fa-long-arrow-alt-right{
  display: none;
}

.main_body .container{
  width: calc(100% - 250px);
  margin-top: 65px;
  margin-left: 250px;
  padding: 25px 40px;
  transition: all 0.3s linear;
}

.main_body .container .item_wrap{
  display: flex;
  margin-bottom: 20px;
}

.main_body .container .item_wrap .item{
  background: #fff;
  border: 1px solid #e0e0e0;
  
  font-size: 14px;
  line-height: 22px;
  margin-left: 20px;
}

.main_body .container .item_wrap .item:first-child{
  margin-right: 20px;
}

/* after adding active class */
.wrapper.active .sidebar_menu{
  width: 100px;
}

.wrapper.active .hamburger .fa-long-arrow-alt-right{
  display: block;
}

.wrapper.active .hamburger .fa-long-arrow-alt-left{
  display: none;
}

.wrapper.active .sidebar_menu ul li a .list{
  display: none;
}

.wrapper.active .main_body .container{
  width: calc(100% - 100px);
  margin-left: 100px;
}
div.gallery {


  width: 1494px;
}

div.gallery:hover {

  
}

div.gallery img {
  width: 100%;
  height: auto;
}


div.gallery1 {
  margin: 5px;
  border: 2px solid black;
  object-fit: contain;
  width: 700px;
  height: 333px;


}

div.gallery1:hover {
  border: 2px solid black;
 
}

div.gallery1 img {
   -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
div.gallery2 {
  margin: 5px;
  border: 2px solid black;
  object-fit: contain;
  width: 300px;
  height: 300px;


}

div.gallery2:hover {
 -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

div.gallery2 img {
  width: 100%;
  height: auto;
}
div.desc1 {
  padding: 5px;
  padding-top: 2px;
  text-align: center;
  font-size: 10px;
  background-color: floralwhite;
  border: 1px solid;
}
h2{
  color: black;
}

.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover01 figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
